
/RAG系統/venv
/西洋棋/venv
/圖書租借系統/__pycache__
/西洋棋/.vscode
/猜拳小遊戲/.vscode
/幾A幾B小遊戲/.vscode
/塞伯龐克貪食蛇/.vscode
/圖書租借系統/.vscode
/名字配对游戏/.vscode
/chess/.vscode
/BERT運用/.vscode
/React餐廳網站/.vscode
/foodblog/.vscode
/下載YouTube影片/.vscode
/RAG系統/.vscode
