
/RAG System/venv
/Chess2/venv
/LibraryRentalSystem/__pycache__
/Chess2/.vscode
/RockPaperScissorsGame/.vscode
/ABGuessingNumber/.vscode
/CyberSnakeGame/.vscode
/LibraryRentalSystem/.vscode
/NameMatchGame/.vscode
/Chess/.vscode
/BERT Usage/.vscode
/ReactRestaurantWebsite/.vscode
/Foodblog/.vscode
/DownloadYouTubeVideo/.vscode
/RAG System/.vscode
